[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/plugins/start/vim-signify"]
	path = pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/plugins/start/onedark.vim"]
	path = pack/plugins/start/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "pack/plugins/start/LanguageClient-neovim"]
	path = pack/plugins/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim.git
[submodule "pack/plugins/start/deoplete.nvim"]
	path = pack/plugins/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
